%div.page-header
  %h1
    = @event.name

%div.row
  %div.col-md-8
    %div.panel.panel-default
      %div.panel-heading
        主催者
      %div.panel-body
        = link_to "https://twitter.com/#{@event.owner.nickname}" do
          = image_tag @event.owner.image_url
          = "@#{@event.owner.nickname}"
    %div.panel.panel-default
      %div.panel-heading
        開催時間
      %div.panel-body
        = @event.start_time.strftime('%Y/%m/%d %H:%M')
        \-
        = @event.end_time.strftime('%Y/%m/%d %H:%M')
    %div.panel.panel-default
      %div.panel-heading
        開催場所
      %div.panel-body
        = @event.place
    %div.panel.panel-default
      %div.panel-heading
        イベント内容
      %div.panel-body
        = @event.content
  %div.col-md-4
    - if @event.created_by?(current_user)
      = link_to 'イベントを編集する', edit_event_path(@event), class: 'btn btn-info btn-lg btn-block'
      = link_to 'イベントを削除する', event_path(@event), class: 'btn btn-danger btn-lg btn-block', method: :delete, data: {  confirm: '本当に削除しますか?' }
    - if @ticket
      = link_to '参加をキャンセルする', event_ticket_path(@event, @ticket), method: :delete, class: 'btn btn-warning btn-lg btn-block'
    - elsif logged_in?
      %button.btn.btn-primary.btn-lg.btn-block{"data-target": "#createTicket", "data-toggle": "modal" } 参加する
      #createTicket.modal.fade{"aria-hidden": "true", "aria-labelledby": "dialogHeader", role: "dialog", tabindex: "-1"}
        %div.modal-dialog
          %div.modal-content
            %div.modal-header
              %button.close{"aria-hidden": "true", "data-dismiss": "modal", type: "button"} &times;
              %h4#dialogHeader.modal-title 参加コメント
            = form_for(@event.tickets.build, url: event_tickets_path(@event), remote: true) do |f|
              %div.modal-body
                = f.text_field :comment, class: 'form-control'
              %div.modal-footer
                %button.btn.btn-default{"data-dismiss": "modal", type: "button"} キャンセル
                = f.button '送信', class: 'btn btn-primary', data: { disable_with: '送信中・・・'}
    - else
      = link_to '参加する', new_event_ticket_path(@event), class: 'btn btn-primary btn-lg btn-block'
    %hr
    %div.panel.panel-default
      %div.panel-heading 参加者
    %div.panel-body
      %ul.list-unstyled
        - @tickets.each do |ticket|
          %li
            = link_to(url_for_twitter(ticket.user)) do
              = image_tag ticket.user.image_url, width: 20, height: 20
              = "@#{ticket.user.nickname}"
            = ticket.comment
